body{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

h1 {
    text-align: center;
  }
@media screen {
    
.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    box-sizing: border-box;
}
.container div {
    margin: 10px;
}
.toDoList {
    /*color:black;*/
    text-align: left;
    /*background-color: beige;*/
    /*should shrink anough to see full table, no scrolling*/
  }
.taskTable {
    font-size: small;
    border: 1px solid #282828;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.highlight-red {
    background-color: rgb(147, 5, 5);
    color: white; 
}

  .eisenhowerMatrix {
    flex: 3 3 60%;
    /*color: black;*/
    text-align: center;
    /*background-color:#393939;*/
  }
  .matrix{
      grid-column: 7/13;
      margin: 58px 36px 30px 30px;
      justify-self: center;
      align-self: center;
      font-size: 14px;
      line-height: 18.23px;
      border: 1px solid #A7A7A7;
      display: flexbox;
      height: 500px;
      width: 500px;
      position: relative;
    
  }
  
  
  .x-title{
      position: absolute;
      top: -24px;
      left: 47%;
      color: white;
      font-weight: 700;
  }
  
  .y-title{
      position: absolute;
      left: -50px;
      top: 47%;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      color: white;
      font-weight: 700;
  }
  
  .hlb-title{
      width: 48px;
      border-bottom: 1px solid #A7A7A7;
      position:absolute;
      top: 50%;
      left: -56px;
  }
  
  .hla-title{
      width: 48px;
      border-bottom: 1px solid #A7A7A7;
      position:absolute;
      top: 50%;
      right: -56px;
  }
  
  .arrow{
      border: solid #A7A7A7;
      border-width: 0 1px 1px 0;
      display: inline-block;
      position:absolute;
      top: 39%;
      right: -56px;
      padding: 2px; 
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  

  
  .vl {
      border-left: 1px solid #A7A7A7;
      height: 100%;
      position: absolute;
      left: 50%;
  }
  
  .hl{
      border-bottom: 1px solid #A7A7A7;
      width: 100%;
      position: absolute;
      top: 50%;
  }
  
  .quadrant{
      position: absolute;
      padding: 4px 10px;
      background-color: #F0F4F8;
      border-radius: 2px;
      font-weight: 700;
      color: #314863;
  }
  
  @media (max-width: 1200px) {
    .container {
        flex-direction: column; /* Stack items vertically */
    }

    .toDoList {
        flex: 1 1 100%; /* Take up full width in column layout */
        margin-bottom: 20px; /* Add some space between elements */
        overflow-y: auto;
    }

    div.eisenhowerMatrix {
        flex: 1 1 100%; /* Take up full width in column layout */
    }
}
}